# Data
#### We'll be using the "mammographic masses" public dataset from the UCI repository (source: https://archive.ics.uci.edu/ml/datasets/Mammographic+Mass)

The data is stored in the ./data/ directory

In [1]:
import pandas as pd
import numpy as np

In [9]:
headers = ["BI-RADS", "Age", "Shape", "Margin", "Density", "Severity"]
dataset = pd.read_csv('./data/mammographic_masses.data', header=None, names=headers)
dataset.head()

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1       ?         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5       ?         1

This is a binary classification problem, our goal is to correctly predict the severity of a cancer based on the other features. 

The data work-flow is inspired by this video: https://www.youtube.com/watch?v=MpFZUshKypk

In [19]:
def start_pipeline(dataframe):
    return dataframe.copy()

def format_data(dataframe):
    dataframe = dataframe.drop(columns=["BI-RADS"])
    return dataframe

def clean_data(dataframe):
    return dataframe

In [20]:
(dataset.pipe(start_pipeline)
        .pipe(format_data)
        .pipe(clean_data))

    Age Shape Margin Density  Severity
0    67     3      5       3         1
1    43     1      1       ?         1
2    58     4      5       3         1
3    28     1      1       3         0
4    74     1      5       ?         1
..   ..   ...    ...     ...       ...
956  47     2      1       3         0
957  56     4      5       3         1
958  64     4      5       3         0
959  66     4      5       3         1
960  62     3      3       3         0

[961 rows x 5 columns]